{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head prefix="rateanywhere: http://walkupdt.pythonanywhere.com/">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5ZZS3GV');</script>
<!-- End Google Tag Manager -->
<title>RateAnyWhere | Help your figure the rate of currency out in a beautify way!</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="google-site-verification" content="JhFM6nHvDS33pmsms7fPHuSWj7Vc4kyqQJZDGdfK78w" />
<meta property="og:title" content="RateAnyWhere" />
<meta property="og:description" content="Quick to find the rate exchange difference you want to know anywhere. Use this tools below to help your figure the rate of currency out! *Disclaimer: This site only provides exchange rate information, does not give any transaction; if any improper use, has nothing to do with the site." />
<meta property="og:type" content="rateanywhere: website" />
<meta property="og:url" content="http://walkupdt.pythonanywhere.com/" />
<meta property="og:image" content="{% static 'images/ogp.jpg' %}" />
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
<link rel="icon” href="{% static 'images/favicon.png' %}" type="image/x-icon" />
<!-- CSS reset -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<!-- Resource style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Page main style -->
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
<!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Modernizr -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- D3js -->
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZZS3GV"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=728062920645666";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of Facebook SDK -->
<!-- Pagination -->
<nav id="cd-vertical-nav" >
  <ul class="slider">
    <li> <a href="#banner" data-number="1"> <span class="cd-dot"></span> <span class="cd-label label-bg">Rate Anywhere</span> </a> </li>
    <li> <a href="#one" data-number="2"> <span class="cd-dot"></span> <span class="cd-label label-bg">Check The Rate</span> </a> </li>
    <li> <a href="#two" data-number="3"> <span class="cd-dot"></span> <span class="cd-label label-bg">Bank Rate: Where to get them</span> </a> </li>
    {% if request.user.is_authenticated %}
    <li> <a href="#three" data-number="4"> <span class="cd-dot"></span> <span class="cd-label label-bg">Multiple Currency Exchange</span> </a> </li>
    {% else %}
    {% endif %}

    {% if request.user.is_authenticated %}
    <li> <a href="#four" data-number="5"> <span class="cd-dot"></span> <span class="cd-label label-bg">History</span> </a> </li>
    {% else %}
    {% endif %}

    <!-- other navigation items here-->
    <li> <a href="#contact" data-number="9999"> <span class="cd-dot"></span> <span class="cd-label label-bg">Contact Us</span> </a> </li>
  </ul>
</nav>
<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>
<h7 class="disclaimer text-center hidden-xs">※ Disclaimer: This site only provides exchange rate information, does not give any transaction; if any improper use, has nothing to do with the site.</h7>

<!-- Header -->
<header id="header">
  <div class="inner"> <a href="/" class="logo">RateAnyWhere</a>
    <nav id="nav"> {% if request.user.is_authenticated %}
      <p><a href="#"><img class="user-photo img-responsive img-circle" src="{% static 'images/user_photo_default.jpg' %}"/>{{request.user}} </a>Login already, <a href="/accounts/logout/">Logout</a>?</p>
      {% else %}
      <p>More features ?<a href="/accounts/login/">Login</a> or <a href="/accounts/register/">Join us</a> first.</p>
      {% endif %} </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <h1 class="title">RateAnyWhere: <span>Quick to find the rate exchange difference you want to know anywhere</span></h1>
          <div class="caption">Use this tools below to help your figure the rate of currency out!</div>
        </div>
      </div>
    </div>
    <ul class="actions">
      <li><a href="#one" class="button alt">Get Started</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <header>
            <h2>Check The Rate</h2>
          </header>
          <h3>您持有的貨幣：<span></span></h3>
            <select id="cash" class="holder-currency">
              <option value="TWD">新台幣</option>
              <option value="CNY">人民幣</option>
              <option value="USD">美金</option>
              <option value="JPY">日圓</option>
            </select>
        </div>
      </div>
    </div>
    <ul class="actions">
      <li><a href="#" class="button alt">Get More</a></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <header>
            <h2>Bank Rate: <span>Where to get them</span></h2>
          </header>
            <h3>TWD to USD</h3>
            <div class="image fit"> </div>
            <div class="table">
              <div class="divcaption">
                <div class="divtd">銀行名稱</div>
                <div class="divtd">現鈔買入</div>
                <div class="divtd">現鈔賣出</div>
                <div class="divtd">即期買入</div>
                <div class="divtd">即期賣出</div>
              </div>
              {% for d in data %}
              <div class="divtr">
               <div class="divtd">{{d.bankname}}</div>
               <div class="divtd">{{d.billbuy}}</div>
               <div class="divtd">{{d.billsell}}</div>
               <div class="divtd">{{d.spotbuy}}</div>
               <div class="divtd">{{d.spotsell}}</div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Three -->
{% if request.user.is_authenticated %}
<section id="three">
  <div class="cover_layer white_bg full_page"></div>
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <header>
            <h2>Multiple Currency Exchange</h2>
          </header>
          <article> <span class="icon fa-laptop"></span>
            <h3>Multiple Currency Exchange</h3>
            <p>go get it</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </article>
          <article> <span class="icon fa-diamond"></span>
            <h3>Currency A</h3>
            <p>but how to get it</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </article>
          <article> <span class="icon fa-laptop"></span>
            <h3>Currency B</h3>
            <p>Membership Only</p>
            <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- Four -->
{% if request.user.is_authenticated %}
<section id="four">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <header>
            <h2>History</h2>
          </header>
          <p>Membership Only</p>
        </div>
      </div>
    </div>
    <ul class="actions">
      <li><a href="#" class="button alt">Get More</a></li>
    </ul>
  </div>
</section>
{% else %}
{% endif %}

<!-- Contact -->
<section id="contact">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content">
          <header>
            <h2>Get in Touch</h2>
          </header>
          <form method="post" action="#">
            <div class="field half first">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <ul class="actions">
              <li>
                <input type="submit" value="Send Message" class="alt" />
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section id="footer">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="content text-center">
          <h3>Thank you for love this tool!</h3>
          <h4>Register if you want get more features.</h4>
          <p></p>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="content text-center">
          <div class="fb-page" data-href="https://www.facebook.com/iDeaAnyWhere" data-tabs="timeline, events, messages" data-width="340" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/iDeaAnyWhere" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iDeaAnyWhere">Ideaanywhere</a></blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="content text-center">
          <h3>Site Map</h3>
          <h4>Easy site to use.</h4>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="copyright"> &copy; Copyright: <a href="http://ideaanywhere.slack.com" target="_blank">iDeaAnyWhere</a>. Design by <a href="#">Walkup</a> & <a href="#">Simon</a> </div>
      </div>
    </div>
  </div>
</section>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/skel.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- jQuery (Bootstrap 所有外掛均需要使用) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- 依需要參考已編譯外掛版本（如下），或各自獨立的外掛版本 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
