{% load staticfiles %}
<!DOCTYPE html>
<html>
<head prefix="rateanywhere: http://walkupdt.pythonanywhere.com/">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5ZZS3GV');</script>
  <!-- End Google Tag Manager -->
  <title>Login RateAnyWhere | Help your figure the rate of currency out in a beautify way!</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="google-site-verification" content="JhFM6nHvDS33pmsms7fPHuSWj7Vc4kyqQJZDGdfK78w" />
  <meta property="og:title" content="RateAnyWhere" />
  <meta property="og:description" content="Quick to find the rate exchange difference you want to know anywhere. Use this tools below to help your figure the rate of currency out! *Disclaimer: This site only provides exchange rate information, does not give any transaction; if any improper use, has nothing to do with the site." />
  <meta property="og:type" content="rateanywhere: website" />
  <meta property="og:url" content="http://walkupdt.pythonanywhere.com/" />
  <meta property="og:image" content="{% static 'images/ogp.jpg' %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
  <link rel="icon” href="{% static 'images/favicon.png' %}" type="image/x-icon" />
  <meta name="description" content="Quick to find the rate exchange difference you want to know anywhere. Use this tools below to help your figure the rate of currency out! *Disclaimer: This site only provides exchange rate information, does not give any transaction; if any improper use, has nothing to do with the site.">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'socicon/css/socicon.min.css' %}">
  <link rel="stylesheet" href="{% static 'mobirise/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'mobirise-slider/style.css' %}">
  <link rel="stylesheet" href="{% static 'mobirise/css/mbr-additional.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'custom/css/reset.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'custom/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vertical-fixed-navigation/css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome/font-awesome.min.css' %}" type="text/css">
  <!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
  <!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

<!-- Modernizr -->
<script src="{% static 'vertical-fixed-navigation/js/modernizr.js' %}"></script>
<!-- D3js -->
<script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZZS3GV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=728062920645666";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End of Facebook SDK -->


  <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menubar">
      <div class="mbr-navbar__section mbr-section">
          <div class="mbr-section__container container">
              <div class="mbr-navbar__container">
                  <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                      <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                          <span class="mbr-brand__logo"><a href="/"><img src="{% static 'images/logo-128x128.png' %}" class="mbr-navbar__brand-img mbr-brand__img" alt="RateAnyWhere" title="RateAnyWhere"></a></span>
                          <span class="mbr-brand__name"><a class="mbr-brand__name text-white logo" href="/">RateAnyWhere</a></span>
                      </span>
                  </div>
                  <div class="mbr-navbar__hamburger mbr-hamburger"><span class="mbr-hamburger__line"></span></div>
                  <div class="mbr-navbar__column mbr-navbar__menu">
                      <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                          <div class="mbr-navbar__column">
                              <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links">
                                {% if request.user.is_authenticated %}
                                <li class="mbr-navbar__item"><a class="" href="#"><img class="user-photo img-responsive img-circle" src="{% static 'images/user_photo_default.jpg' %}"/></a><a class="mbr-buttons__link btn text-white" href="#">{{request.user}} </a></li>
                                <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/accounts/logout/">LOGOUT</a></li>
                                {% else %}
                                <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/accounts/login/">LOGIN</a></li>
                                <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/accounts/register/">JOIN US</a></li>
                                {% endif %}
                                <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="index.html#contact">CONTACT</a></li> </ul>

                          </div>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </section>

<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="false" id="slider-banner" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-section__container">
        <div>

            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url({% static 'images/banner-2000x1333.jpg' %});">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding mbr-after-navbar">
                    <div class="mbr-overlay" style="opacity: 0.6;"></div>
                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">Register RateAnyWhere</h1>
                                    <form action="" method="post">
                                      {% csrf_token %}
                                      <div class="form-group">
                                      <label for="username" class="sr-only">Username:</label>
                                      <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username" aria-describedby="helpBlock">
                                      <span id="helpBlock" class="help-block">A name you register.</span>
                                    </div>
                                      <div class="form-group">
                                      <label for="password" class="sr-only">Password:</label>
                                      <input type="password" name="password" value="" id="password" class="form-control" placeholder="Password" aria-describedby="helpBlock">
                                      <span id="helpBlock" class="help-block">A password you register.</span>
                                    </div>
                                      <input type="submit" value="Login" class="btn btn-success" />
                                    </form>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-banner">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-banner">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer" style="background-color: rgb(68, 68, 68);">

    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
            <div class="col-sm-6">
                <div class="fb-page" data-href="https://www.facebook.com/iDeaAnyWhere" data-tabs="timeline, events, messages" data-width="340" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                      <blockquote cite="https://www.facebook.com/iDeaAnyWhere" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/iDeaAnyWhere">Ideaanywhere</a></blockquote>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <p class="mbr-contacts__text"><strong>ADDRESS</strong><br>
1234 Street Name<br>
City, AA 99999<br><br>
<strong>CONTACTS</strong><br>
Email: support@mobirise.com<br>
Phone: +1 (0) 000 0000 001<br>
Fax: +1 (0) 000 0000 002</p>
                    </div>
                    <div class="col-sm-6"><p class="mbr-contacts__text"><strong>LINKS</strong></p><ul class="mbr-contacts__list"><li><a class="mbr-contacts__link text-gray" href="https://mobirise.com/">Website builder</a></li><li><a class="mbr-contacts__link text-gray" href="https://mobirise.com/mobirise-free-win.zip">Download for Windows</a></li><li><a class="mbr-contacts__link text-gray" href="https://mobirise.com/mobirise-free-mac.zip">Download for Mac</a></li></ul></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-2" style="background-color: rgb(68, 68, 68);">

    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 24.6px; padding-bottom: 24.6px;">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright">&nbsp;© Copyright: <a href="http://ideaanywhere.slack.com" target="_blank" class="text-gray">iDeaAnyWhere</a>. Design by <a href="#" class="text-gray">Walkup</a> &amp; <a href="#" class="text-gray">Simon</a>.<span style="line-height: 1.5em;">&nbsp;</span><a class="mbr-footer__link text-gray" href="#" style="line-height: 1.5em; background-color: rgb(68, 68, 68);">Terms of Use</a><span style="line-height: 1.5em;">  | </span><a class="mbr-footer__link text-gray" href="#" style="line-height: 1.5em; background-color: rgb(68, 68, 68);">Privacy Policy</a><br></p>
            </div>
        </div>
    </div>
</footer>


  <script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'smooth-scroll/SmoothScroll.js' %}"></script>
  <script src="{% static 'bootstrap-carousel-swipe/bootstrap-carousel-swipe.js' %}"></script>
  <script src="{% static 'jarallax/jarallax.js' %}"></script>
  <!--[if lte IE 9]>
    <script src="{% static 'jquery-placeholder/jquery.placeholder.min.js' %}"></script>
  <![endif]-->
  <script src="{% static 'social-likes/social-likes.js' %}"></script>
  <script src="{% static 'mobirise/js/script.js' %}"></script>
  <script src="{% static 'formoid/formoid.min.js' %}"></script>
  <script src="{% static 'vertical-fixed-navigation/js/main.js' %}"></script>


</body>
</html>
